---
import { Icon } from 'astro-icon/components';
import { getSinceUntilText, type Work } from '../../data/works';
import Badge from '../Badge.astro';

interface Props {
  work: Work;
  showDate?: boolean;
  slugToLink?: string;
}

const { work, showDate, slugToLink } = Astro.props;
const dateText = showDate ? getSinceUntilText(work.since, work.until) : undefined;
---
<div class="work-root">
  <hgroup class="work-title-wrapper">
    {work.repo && <a href={work.repo} class="repo"><Icon name="simple-icons:github" title="GitHub" size="1.25em"/></a>}
    <h3>{work.name}</h3>
    <br class="narrow-br"/>
    <span class="badges">
      {work.technologies?.map(t => 
        <Badge t={t} />
      )}
    </span>
    { (dateText && dateText.length > 0) &&
    <span class="date">
      {dateText}
    </span>
    }
  </hgroup>
  <p class="work-description">
    {work.description}
    {slugToLink && <><br /><a href={slugToLink} class="details-link">詳細...</a></>}
  </p>
</div>

<style>
h3 {
  display: inline;
}
.work-title-wrapper {
  margin-bottom: 0;
}
.repo {
  color: var(--font-color);
  z-index: 1;
  position: sticky;
}
.work-root {
  position: relative;
}
.work-description {
  padding-top: 0;
  margin-top: 0;
}
a.details-link {
  display: block;
}
a.details-link::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
span.badges {
  padding-left: 12px;
}
span.date {
  padding-left: 12px;
  color: var(--color-grey);
  font-size: 12px;
}
@media (min-width: 572px) {
  br.narrow-br {
    display: none;
  }
}
</style>
