---
import 'chota';
import 'katex/dist/katex.min.css';
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";

interface Props {
  title: string;
  og_description?: string;
  og_image?: string;
  og_title?: string;
  og_locale?: string;
  disable_breadcrumbs?: boolean;
}

const { title } = Astro.props;
const og_description = Astro.props.og_description;
const og_image = Astro.props.og_image ?? '/ogp.png';
const og_title = Astro.props.og_title ?? title;
const og_locale = Astro.props.og_locale ?? 'ja_JP';
const disable_breadcrumbs = Astro.props.disable_breadcrumbs ?? false;
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="icon" href="/favicon.ico" sizes="16x16 32x32">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="sitemap" href="/sitemap-index.xml" />

    {og_description && <meta name="description" content={og_description}>}
    {og_description && <meta property="og:description" content={og_description}>}
    <meta property="og:image" content={og_image}>
    <meta property="og:title" content={og_title}>
    <meta property="og:locale" content={og_locale}>
		<meta name="generator" content={Astro.generator} />
		<title>{title} - yuma14.net</title>
	</head>
	<body>
    <header>
      {disable_breadcrumbs ? null : 
        <div class="breadcrumbs-wrapper">
          <Breadcrumbs linkTextFormat='sentence'>
            <div slot='separator'>»</div>
          </Breadcrumbs>
        </div>
      }
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <div class="footer-padding"></div>
    </footer>
	</body>
</html>
<script>
  import {crustacean} from '../components/crustacean';
  if (window.location.pathname === '/' || window.location.pathname === '/index.html') {
    crustacean({
      autoPlay: true,
    });
  } else {
    crustacean({
      autoPlay: false,
    });
  }
</script>

<style>
main {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 576px) {
  main {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  main {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  main {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  main {
    max-width: 1140px;
  }
}

footer {
  min-height: 50px;
  text-align: center;
}
.footer-padding {
  padding-top: 100px;
}
</style>

<style is:global>
img:not(.manual) {
  height: auto;
  max-width: min(700px, 100%);
}
h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}
:root {
  --font-family-sans: sans-serif;
  --font-family-mono: monospace;
}
pre {
  line-height: 1.2;
}
main a:not(main h2 a) {
  text-decoration: underline;
}
q {
  quotes: "“" "”" "‘" "’";
}
.breadcrumbs-wrapper {
  background-color: #ccc;
  padding: 3px;
  a {
    text-decoration: underline;
  }
}
</style>
