---
import { Icon } from 'astro-icon/components';
import Badge from '../components/Badge.astro';
import ContentWithToc from '../components/ContentWithToc.astro';
import Link from '../components/Link.astro';
import {
  getSinceUntilText,
  type Work,
} from '../data/works';
import Layout from './Layout.astro';

/* プロジェクトの詳細ページで用いるレイアウト */
interface Props {
  work: Work;
}
const { work } = Astro.props;
---

<Layout title={work.name} og_description={work.description}>
  <hgroup slot="title">
    <div>
      <h1>{work.name}</h1>
      <span>
        {work?.technologies?.map(t => 
          <Badge t={t} />
        )}
      </span>
    </div>
    <div>
    {work?.repo && <Link url={work.repo}><Icon name="simple-icons:github" size="1em"/> GitHub</Link>}
      {(work?.since || work?.until) && <><Icon name="carbon:calendar" />{getSinceUntilText(work?.since, work?.until)}</>}
    </div>
  </hgroup>
  <ContentWithToc>
    <slot />
  </ContentWithToc>
</Layout>

<style>
h1 {
  display: inline;
  padding-right: 1rem;
}
</style>
